![title](logo.png)

# Modeling

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
sales_df = pd.read_csv('sales_train.csv')
sales_df.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [9]:
sales_df.shape

(2935849, 6)

In [14]:
pd.read_csv('test.csv').head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [40]:
sales_df.drop(columns='shop_id').to_csv('sales.csv')

In [16]:
#sales_df['month']= sales_df['date'].apply(lambda x: x[3:])
#sales_df.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,month
0,02.01.2013,0,59,22154,999.00,1.0,01.2013
1,03.01.2013,0,25,2552,899.00,1.0,01.2013
2,05.01.2013,0,25,2552,899.00,-1.0,01.2013
3,06.01.2013,0,25,2554,1709.05,1.0,01.2013
4,15.01.2013,0,25,2555,1099.00,1.0,01.2013

In [26]:
sales_df.groupby(['date_block_num', 'shop_id'])['item_cnt_day'].mean()

date_block_num  shop_id
0               0          1.163781
                1          1.093912
                2          1.070028
                3          1.024032
                4          1.116156
                6          1.132760
                7          1.095259
                8          1.053276
                10         1.068571
                12         1.171071
                13         1.092764
                14         1.093538
                15         1.130290
                16         1.080552
                18         1.128408
                19         1.113228
                21         1.065574
                22         1.198007
                23         1.078030
                24         1.076080
                25         1.178454
                26         1.087220
                27         1.181431
                28         1.233741
                29         1.117274
                30         1.078595
                31         1.205475
                32         1.044726
                35         1.074785
                37         1.070504
                             ...
33              20         3.082645
                21         1.220166
                22         1.259189
                24         1.152113
                25         1.341998
                26         1.255793
                28         1.201433
                31         1.258390
                34         1.126471
                35         1.121835
                36         1.078431
                37         1.267884
                38         1.150259
                39         1.434532
                41         1.072254
                42         1.444051
                44         1.075967
                45         1.125000
                46         1.143847
                47         1.207342
                48         1.126775
                49         1.043478
                50         1.125741
                52         1.077608
                53         1.125133
                55         1.435226
                56         1.084120
                57         1.105489
                58         1.088855
                59         1.083676
Name: item_cnt_day, Length: 1586, dtype: float64

In [5]:
item_df = pd.read_csv('items.csv')
item_df.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [42]:
item_df.drop(columns='item_name').to_csv('items_2.csv')

In [24]:
pd.read_csv('sample_submission.csv').head()

   ID  item_cnt_month
0   0             0.5
1   1             0.5
2   2             0.5
3   3             0.5
4   4             0.5

<font color='blue'>
    
#### Task    
    
You are provided with daily historical sales data. The task is to forecast the total amount of products sold in every shop for the test set. Note that the list of shops and products slightly changes every month. Creating a robust model that can handle such situations is part of the challenge.
</font>

#### File descriptions

- sales_train.csv - the training set. Daily historical data from January 2013 to October 2015.
- test.csv - the test set. You need to forecast the sales for these shops and products for November 2015.
- sample_submission.csv - a sample submission file in the correct format.
- items.csv - supplemental information about the items/products.
- item_categories.csv  - supplemental information about the items categories.
- shops.csv- supplemental information about the shops.

#### Data fields

- ID - an Id that represents a (Shop, Item) tuple within the test set
- shop_id - unique identifier of a shop
- item_id - unique identifier of a product
- item_category_id - unique identifier of item category
- item_cnt_day - number of products sold. You are predicting a monthly amount of this measure
- item_price - current price of an item
- date - date in format dd/mm/yyyy
- date_block_num - a consecutive month number, used for convenience. January 2013 is 0, February 2013 is 1,..., October 2015 is 33
- item_name - name of item
- shop_name - name of shop
- item_category_name - name of item category

<font color='blue'>
    
#### Hints   
-    
-
-
</font>